<!DOCTYPE html>
<html>
  <head>
    <title>Sudoku Game</title>
    <!-- link to the CSS stylesheet -->
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />
    <script>var __adobewebfontsappname__ = "code"</script>
    <script src="http://use.edgefonts.net/arvo:n4,i4,n7,i7:all.js"></script>
  </head>
  <body>
    <h1>Life's too short for making sudoku</h1>
    <% if flash[:notice] %>
      <div id="flash">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
    <div id="sudoku">
      <%= yield %>
    </div>
  </body>
</html>