<form action="/" method="post">
  <%= partial :grid %>
  <menu>
    <a href="/?new=easy" alt="New Sudoku" class="button">New Sudoku</a><a href="/?new=hard" alt="New Hard Sudoku" class="button">New Hard Sudoku</a>
  </menu>
</form>