<div class="cell">
  <!-- every cell will have an input field -->
  <% cell_value = cell_value(@current_solution[cell_index]) %>
  <input type="text" name="cell[]" maxlength="1" autocomplete="off" value="<%= cell_value %>" />
</div>